# Example environment variables.
# Instructions for use:
# 1: Copy this file and rename it to .env in your project root.
# 2: Replace placeholder values with the real values for your application.
# 3: Add .env to .gitignore to prevent committing sensitive data.
# 4. Delete all comments in the file.

# API Key for the authenticated actions. This key is used to authenticate requests to the API.
NEXT_PUBLIC_API_KEY=your_api_key