@import "tailwindcss";

:root {
  --background: #faf8f3;
  --background-soft: #f4efe6;
  --background-dark: #020618;
  --background-dark-soft: #1d293d;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --secondary: #0f766e;
  --secondary-hover: #115e59;

  --accent: #f59e0b;
  --accent-hover: #d97706;

  --success: #16a34a;
  --success-hover: #15803d;
  --background-success: #f0fdf4;

  --error: #f10101;
  --error-hover: #b91c1c;
  --background-error: #fee2e2;

  --text-primary: #172033;
  --text-secondary: #475569;
  --text-muted: #475569;
  --text-light: #cad5e2;

  --surface: #ffffff;
  --surface-dark: #f8fafc;
  --surface-darker: #f1f5f9;

  --border: #e2e8f0;
  --border-dark: #90a1b9;
}
